:root {
    --color-brand: #1ED760;
    --color-light: #2E3A46;
    --color-dark: #1E2D3B;
    --color-title: #ffffff;
    --color-subtitle: #808080;
}

#site_header {
    background-color: var(--color-light);
}

body {
    background-color: var(--color-dark);
}

.card {
    background-color: var(--color-light);
    height: 350px;
}

.title {
    color: var(--color-title);
    text-transform: uppercase;
    font-size: 20px;
}

.text {
    color: var(--color-subtitle);
    font-size: 15px;
}

p {
    margin-bottom: 0 !important;
}